Manhattan\Bundle\PostsBundle\Entity\Category:
    type: entity
    table: news_category
    repositoryClass: Manhattan\Bundle\PostsBundle\Entity\Repository\CategoryRepository

    fields:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
        title:
            type: string
            length: 128
        slug:
            type: string
            length: 128
            unique: true
            gedmo:
                slug:
                    fields: [ title ]
        excerpt:
            type: string
            length: 500
            nullable: true

    oneToMany:
        posts:
            targetEntity: Manhattan\Bundle\PostsBundle\Entity\Base\Post
            mappedBy: category
            cascade:
                - persist
