{% extends "ManhattanConsoleBundle::layout.html.twig" %}

{% block title %}Manhattan Console{% endblock %}

{% block headline %}<span>Articles:</span> {% block subheadline %}Post{% endblock %}{% endblock %}