{% extends "ManhattanConsoleBundle::layout.html.twig" %}

{% block title %}AGB Engineering Console{% endblock %}

{% block headline %}<span>AGB:</span> {% block subheadline %}News{% endblock %}{% endblock %}