{% extends "AGBPublicBundle::layout.html.twig" %}

{% block content %}

<table class="records_list table table-striped">
    <thead>
        <tr>
            <th class="title">Title</th>
            <th>Slug</th>
            <th>Published Date</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('news_view', { 'date': entity.date, 'slug': entity.slug }) }}">{{ entity.title }}</a></td>
            <td>{{ entity.slug }}</td>
            <td>{% if entity.publishdate %}{{ entity.publishdate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}